*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-areas: "result content__details";
  grid-column-gap: 30px;
  max-width: 1140px;
  align-items: end;
}

.result {
  grid-area: result;
  padding-top: 78px;
}

.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
}

.search-form {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-container {
  max-height: 298px;
  overflow: auto;
  position: relative;
  min-width: 403px;
}

.content__list {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  margin-right: 3px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin-top: 2px;
  margin-bottom: 7px;
}

.title {
  font-family: "oswald", sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__video-card-title {
  text-transform: uppercase;
  margin-top: 2px;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 6px;
  font-family: "oswald", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 90%;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
  margin-bottom: auto;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__textfield {
  background-color: transparent;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  line-height: 1;
  font-family: "Fira Sans Condensed", sans-serif;
  display: block;
  min-height: 24px;
  box-sizing: initial;
  color: #fff;
  appearance: none;
  min-width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield):active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__label:focus {
  outline: none;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox-list .search-form__label:focus {
  outline: none;
}

.search-form__checkbox-list .search-form__label:focus-visible {
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255/ 70%);
  font-size: 18px;
  line-height: 1;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400px;
}

.search-form__label-text {
  line-height: 1;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  display: flex;
  width: 19px;
  height: 19px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  display: none;
  width: 15px;
  height: 15px;
}

input[type="checkbox"]:checked + span::after {
  display: block;
}

input[type="checkbox"]:active + span::after {
  display: block;
}

.button {
  min-height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  display: block;
  text-align: center;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.search-form__submit-button {
  min-width: 194px;
  margin-top: auto;
}

.search-form__label,
.button,
.content__card-link,
video {
  cursor: pointer;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:first-child {
  padding-top: 3px;
}
